<!-- <button id="twitter-sign-in">
  <img alt="Sign in button" src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png", >
  </img>
</button> -->
<h1>Welcome to Twitter Timeline Search</h1>
<button id="sign-up", class: "my_btn" >Sign Up </button>
<button id="sign-in", class: "my_btn" >Sign In </button>

<div id="sign_in_or_up"></div>
