<h1>Sign In/ Sign Up</h1>
<!-- <button id="twitter-sign-in">
  <img alt="Sign in button" src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png", >
  </img>
</button> -->

<button id="sign-up">Sign Up </button>
<button id="sign-in">Sign In </button>

<%= render 'sign_up', user: @user %>
