
<p id="notice"><%= notice %></p>
<h1>Search for A Twitter User's timeline</h1>

<%= form_tag("search", remote: true) do %>
  <h2> Twitter Handle </h2>
  <%= text_field_tag(:twitter_handle) %>
  <%= submit_tag "Search", :id => "search" %>
<% end %>


<h1 id="results-list", hidden=true>Posts</h1>



<br>
